@import "tailwindcss";


@theme {
    --color-primary: #1034a6;
    --color-black: #1A2B49;
    --font-sans: 'DM Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    --breakpoint-3xl: 100rem;
    --breakpoint-4xl: 120rem;
}

body {
  font-family: 'DM Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  color: #1A2B49;
}

.fAlnEc .gNJDp a:not(.TrZEUc):not(.WpHeLc), .fAlnEc .gNJDp button:not(.TrZEUc) {
    font-weight: 500;
    font-weight: var(--c-stfwt, 500);
    display: none !important;
}